<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
    <script src='/js/chat.js'></script>
    <title>Configurações - Notificador</title>
</head>
<body>
    {% if studants == [] %}
    <h1>Não há alunos nesta turma!</h1>
    {% else %}
    <h1>Insira as turmas para cada aluno registrado na plataforma:</h1>
    <form method='POST'>
        <table>
            <tr style='background-color: rgb(182, 182, 182);'>
                <th>Nome</th>
                <th>Turma</th>
            </tr>
            {% for i in studants %}
            <tr>
                <td>{{i}}</td>
                <td>
                    <input value='{{class_}}' name='{{i}}' list='{{i}}'>
                    <datalist id='{{i}}'>
                        {% for l in classroom %}
                        <option value='{{l}}'>
                        {% endfor %}
                    </datalist>
                </td>
            </tr>
            {% endfor %}
        </table>
        <input type='submit' value='Salvar' />
    </form>
    {% endif %}
    <a href='/configure-class'><button>Voltar</button></a>
    <div name='chat'>
        <h3>Chat</h3>
        <textarea id="chat" cols="80" rows="20"></textarea><br><br>
        <input id="text" size="80" placeholder="Digite sua mensagem"><br><br>
    </div>
</body>
</html>