{% extends 'base.html' %}
{% block header %} <link rel="stylesheet" href="/css/class_config.css"> {% endblock %}
{% block title %} Configurações {% endblock %}
{% block content %}
<div id="grid-container">
    <div id ="box">               
        {% if studants == [] %}
        <h1>Não há alunos nesta turma!</h1>
        {% else %}
        <h1>Insira as turmas para cada aluno registrado na plataforma:</h1>
        <form method='POST'>
            <div align='center'>
                <table>
                    <tr style='background-color: rgb(182, 182, 182);'>
                        <th>Nome</th>
                        <th>Turma</th>
                    </tr>
                    {% for i in studants %}
                    <tr>
                        <td>{{i}}</td>
                        <td>
                            <input value='{{class_}}' name='{{i}}' list='{{i}}'>
                            <datalist id='{{i}}'>
                                {% for l in classroom %}
                                <option value='{{l}}'>
                                {% endfor %}
                            </datalist>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
            <input type='submit' value='Salvar' />
        </form>
        {% endif %}
        <a href='/configure-class'><button>Voltar</button></a>
    </div>
</div>
{% endblock %}