{% extends 'base.html' %}
{% block header %} <link rel="stylesheet" href="css/fix_studants.css"> {% endblock %}
{% block title %} Painel do Administrador {% endblock %}
{% block content %}
{% if studants == [] %}
<h1>Todos os alunos estão devidamente cadastrados!</h1>
{% else %}
<h1>Insira os alunos abaixo nas turmas:</h1>
<form method='POST'>
    <div align='center'>
        <table>
            <tr style='background-color: rgb(182, 182, 182);'>
                <th>Nome</th>
                <th>Turma</th>
            </tr>
            {% for i in studants %}
            <tr>
                <td>{{i}}</td>
                <td>
                    <input name='{{i}}' list='{{i}}'>
                    <datalist id='{{i}}'>
                        {% for l in class_ %}
                        <option value='{{l}}'>
                        {% endfor %}
                    </datalist>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <input type='submit' value='Salvar' />
</form>
{% endif %}
{% endblock %}