{% extends 'base.html' %}
{% block header %} <link rel="stylesheet" href="css/grades.css"> {% endblock %}
{% block title %} Modificar notas {% endblock %}
{% block content %}
{% if grades == [] %}
    <h1>Essa turma não tem alunos, contate um administrador!</h1>
{% else %}
    <h1>Modifique as notas a turma {{class_}}</h1>
    <form method='POST'>
        <div align='center'>
            <table>
                <tr style='background-color: rgb(182, 182, 182);'>
                    <th>Nome</th>
                    {% for i in range(3) %}
                    <th>Nota {{i + 1}}</th>
                    {% endfor %}
                </tr>
                {% for i in grades %}
                <tr>
                    <td>{{i[0]}}</td>
                    {% for l in range(1, 4) %}
                    <td><input class='grade' name='{{i[0] + "N%s" % l}}' value='{{i[l]}}' type='number' /></td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </table>
        </div>
        <input value='Salvar' type='submit' />
    </form>
{% endif %}
<a href='/panel'><button>Voltar</button></a>
{% endblock %}