{% extends 'base.html' %}
{% block header %} <link rel="stylesheet" href="/css/panels.css"> {% endblock %}
{% block title %}Painel do Administrator{% endblock %}
{% block content %}
<div id ="grid-container">
    <div id="panel">
        <h1>Bem vindo {{name}}!</h1>
        <a href='/'><button>Voltar</button></a>
        <a href='/configure-class'><button>Configurar turmas</button></a>
        <a href='/add-studants-to-class'><button>Alunos Sem turmas</button></a>
        <p>Qual turma deseja vizualizar?</p>
        {% for i in class_ %}
        <a href='view/{{i}}'><button>{{i}}</button></a>
        {% endfor %}
    </div>  
</div>
{% endblock %}