{% extends 'base.html' %}
{% block header %} <link rel="stylesheet" href="/css/panels.css"> {% endblock %}
{% block title %} Painel do aluno {% endblock %}
{% block content %}
<h1>Bem vindo {{name}}!</h1>
    {% if grades == [] %}
    <p>Você não está cadastrado em uma turma, contate um adiministrador do sistema.</p>
    {% else %}
    <div align='center'>
        <h2>Notas:</h2>
    <table>
        <tr style='background-color: rgb(182, 182, 182);'>
            <th>Nome</th>
            {% for i in range(1, 4) %} <th>Nota {{i}}</th> {% endfor %}
        </tr>
        <tr>
            {% for i in range(4) %} <td>{{grades[i]}}</td> {% endfor %}
        </tr>
        {% endif %}
    </table>
    </div>
    <h2>Questionários:</h2>
    {% if questionnaires == [] %}
    <p>Não existe questionário registrado no sistema</p>
    {% else %}
    {% for i in questionnaires %}
    {% if i[3] == 'yes' and submit[i[4]] == 'no' %}
    <p><a style='color: white' href='questionnaires/{{i[0]}}'><h3>{{i[1]}}</h3></a><p>{{i[2]}}</p></p>
    {% endif %}
    {% endfor %}
    {% endif %}
    <a href='/'><button>Voltar</button></a>
{% endblock %}