{% extends 'base.html' %}
{% block header %} <link rel="stylesheet" href="/css/panels.css"> {% endblock %}
{% block title %} Painel do professor {% endblock %}
{% block content %}
<div id ="grid-container">
    <div id ="panel">
        <h1>Bem vindo Professor {{name}}!</h1>
        <h2>Notas</h2>
        <p>Visualize ou altere as notas dos alunos:</p>
        {% for i in classroom %}
        <a href='/grades/{{i}}'><button>{{i}}</button></a>
        {% endfor %}
        <h2>Questionários:</h2>
        {% if questionnaires == [] %}
        <p>Não existe questionário registrado no sistema</p>
        {% else %}
        {% for i in questionnaires %}
        <p><a href='questionnaires/{{i[0]}}'><h3 id="sublinhado">{{i[1]}}</h3></a><p>{{i[2]}}</p></p>
        <a href='/questionnaires/delete/{{i[0]}}'><button>Deletar</button></a><br />
        {% endfor %}
        {% endif %}
        <a href='/questionnaires'><button>Criar questionário</button></a>
        <a href='/'><button>Voltar</button></a>
    </div>
</div>
{% endblock %}