{% extends 'base.html' %}
{% block header %} <link rel="stylesheet" href="/css/view_class.css"> {% endblock %}
{% block title %} Painel do Administrador {% endblock %}
{% block content %}
<h1>Bem vindo {{name}}!</h1>
<p>Aqui estão os alunos da turma {{class_}}:</p>
{% if studants == [] %}
<p>Nenhum estudante está cadastrado nessa turma</p>
{% else %}
<div align='center'>
    <table>
        <tr style='background-color: rgb(182, 182, 182);'>
            <th>Nome</th>
        </tr>
        {% for i in studants %}
        <tr>
            <td>{{i}}</td>
        </tr>
        {% endfor %}
    </table>
</div>
<a href='/configure/{{class_}}'><button>Configurar a turma</button></a>
<a href='/panel'><button>Voltar</button></a>
{% endif %}
{% endblock %}