#show_chat{
    border-radius: 5px 5px 0 0;
    padding: 10px 16px;
    background-color:#963030;
    color: #f1f1f1;
    position: fixed;
    bottom: 0;
    height:5%;
    width: 20%;
  }
#showchat h1{
    margin-top: 2%;
    font-size: clamp(20px,2vw,30px);
}
#show_chat a, #chat a{
    margin-top: 0;
    width: 100%;
    color: white;
    text-decoration: none;
}
a h3{
    font-size: clamp(20px,2vw,30px);
    margin-top: 0;
    width: 100%;
    text-align: center;
    background-color:#963030;
    border-radius: 5px 5px 0 0;
}
#chat_box{
    background-color:#242424;
    height: 60%;
    position: fixed;
    display: none;
    width: 30%;
    bottom: 0;
    border-radius: 5px 5px 0 0;
}
#chat{
    margin-top: 2%;
    font-size: clamp(10px,1vw,20px);
    color: white;
    background-color: #131313;
    width: 90%;
    height: 70%;
    border:none;
    border-radius: 5px;
    margin-bottom: 2%;
}
#text{
    font-size: clamp(10px,1vw,20px); 
    color: white;
    background-color: #131313;
    width: 90%;
    border:none;
    border-radius: 5px;
    height: 7%;
}