body{
    color:white;
    text-align: center;
}
h1{
    margin-top: 30%;
    margin-right: 10%;
    font-size: clamp(35px,5vw,60px); 
}
h2{
    font-size: clamp(20px,2vw,30px);
}
.text_input{
    border:none;
    font-size: clamp(15px,1.5vw,25px);
    color: white;
    background-color:#131313;
    width: 80%;
    margin-bottom: 5%;
    height: 20%;
    border-radius: 5px;    
}
a{
    color: #963030;
}
.button{
    font-size: clamp(15px,1.5vw,25px);
    width: 50%;
    background-color: #963030; 
    color: white;
    border-radius: 5px;
    border:none;  
}

#grid-container{
    background-color:#131313;
    display: grid;
    grid-template-columns: 0.5fr 1fr 1fr 0.5fr;
    grid-template-rows: repeat(3,1fr);
    height: 100vh;
    column-gap: 2%;
}
#giga_text{
    grid-column-start:2;
    grid-column-end: 3;
    grid-row-start:2;
    grid-row-end:3;
}
#sign_in{
    border-radius: 10px;
    background-color:#242424;
    grid-column-start:3;
    grid-column-end: 4;
    grid-row-start:2;
    grid-row-end:3;   
}