{% extends 'base.html' %}
{% block header %} <link rel="stylesheet" href="/css/new_question.css"> {% endblock %}
{% block title %} Adicionar questão objetiva {% endblock %}
{% block content %}
    <div id="grid_container">
        <div id="box">
            <h1>Questão de resposta simples:</h1>
            <form method='POST'>
                <p>Enunciado: <input name='question' type="text"/></p>
                <p>Opções: <input name='options' type="text"/></p>
                <h6>* Insira as opções divididas por '; ' ex: opção a; opção b; opção c</h6>
                <input value='Adicionar' type='submit' />
            </form>
        </div>
{% endblock %}