{% extends 'base.html' %}
{% block header %} <link rel ="stylesheet" href="/css/simple_question.css"> {% endblock %}
{% block title %} Responder {% endblock %}
{% block content %}
<form metod='POST'>
    <h1>Responda:</h1>
    <h2>{{n}} - {{question}}</h2>
    {% for i in range(tam) %}
        <input type="radio" name="resp" value="{{options[i]}}">
        <label for="{{options[i]}}">{{alfabeto[i]}} - {{options[i]}}</label><br>
    {% endfor %}
    <input value='Responder' type='submit' />
</form>
{% endblock %}