<!DOCTYPE html>
<html lang="pt-br">
<head>
    <link rel="stylesheet" href="/css/chat.css">
    <link rel="stylesheet" href="/css/quiz.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
    <script src='/js/chat.js'></script>

    <title>{{name}} - Notificador</title>
    <!-- <script src='/js/questionnaries.js'></script> -->
</head>
<body>
    <h1>Editar o questionário {{name}}</h1>
    {% if type_account == "Professor" %}
    <a href='/questionnaires/view/{{id_}}'><button>Ver Respostas</button></a>
    {% if visible == "no" %}
    <a href='/questionnaires/edit/{{id_}}/yes'><button>Tornar visível</button></a>
    {% else %}
    <a href='/questionnaires/edit/{{id_}}/no'><button>Tornar invisível</button></a>
    {% endif %}
    {% endif %}
    <h2>
        {{detais}} 
        {% if type_account == "Professor" %}
        <a href='/questionnaires/edit/{{id_}}/meta'><button>Editar</button></a>
        {% endif %}
    </h2>
    <h2>Perguntas</h2>
    {% if type_account == "Professor" %}
    <a href='/questionnaires/edit/{{id_}}/simple'><button>Adicionar pergunta de resposta simples</button></a><br />
    <a href='/questionnaires/edit/{{id_}}/objetiva'><button>Adicionar pergunta de resposta objetiva</button></a>
    {% endif %}
    {% for i in position %}
    {% if type_[i - 1] == 'simple' %}
    <h4>
        {{i}} - {{questions[i - 1]}}
    </h4>
    {% if type_account == "Aluno" %}
    <a href='/questionnaires/question/{{id_}}/{{i}}'><button>Responder</button></a>
    {% endif %}
    {% elif type_[i - 1] == 'objetiva' %}
    <h4>
        {{i}} - {{questions[i - 1]}}
    </h4>
    {% if type_account == "Aluno" %}
    <a href='/questionnaires/objetiva/{{id_}}/{{i}}'><button>Responder</button></a>
    {% endif %}
    {% endif %}
    {% endfor %}
    <br />
    {% if type_account == "Aluno" %}<form method='POST'><input type='submit' value='Enviar respotas'/></form>{% endif %}
    <a href='/panel'><button>Voltar</button></a>
    <a href="#" onclick="document.getElementById('chat_box').style.display='block';document.getElementById('Flutuante').style.display='none'">
        <div id="show_chat">
            <h1>Chat</h1>
        </div>
    </a>
     <div name='chat' id="chat_box">
        <a href="#" onclick="document.getElementById('chat_box').style.display='none';document.getElementById('Flutuante').style.display='block'"><h3>Chat</h3></a>
        <textarea id="chat" cols="50" rows="20" readonly></textarea>
        <input id="text" placeholder="Digite sua mensagem">
    </div>
</body>
</html>