{% extends '/login/base-login.html' %}
{% block header %} <link rel="stylesheet" href="/css/create_credentials.css"> {% endblock %}
{% block title %} Cadastro {% endblock %}
{% block content %}
<div id = 'grid-container'>
    <div id="main_box">
        <h1>Vamos criar suas credenciais</h1>
        <p>Seja bem vindo ao nosso sistema :)</p>
        <form method="POST">
            <input required name='real_name' placeholder="Nome real" class="text_input"/>
            <input required name='user' placeholder="Nome de usuário" class="text_input"/>
            <input required name='passwd' type='password' placeholder="Senha" class="text_input"/>
            <input value="Enviar" type='submit' id="submit"/>
        </form>
    </div>
</div>
{% endblock %}