<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro - Notificador</title>
</head>
<body>
    <h1>Vamos criar suas credenciais</h1>
    <p>Informe o seu nome de usuário, nome real e senha nos campos a seguir:</p>
    <form method="POST">
        <p>Nome real: <input required name='real_name' /></p>
        <p>Nome de usuário: <input required name='user' /></p>
        <p>Senha: <input required name='passwd' type='password' /></p>
        <input value="Enviar" type='submit' />
    </form>
</body>
</html>