<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Entre com sua conta! - Notificador</title>
</head>
<body>
    <h1>Digite suas credenciais</h1>
    <form method="POST">
        <p>Nome de usuario: <input required name='user' /></p>
        <p>Senha: <input required name='passwd' type='password' /></p>
        <input type='submit' value='Entrar' />
    </form>
    <a href='/sign-up'><button>Registrar-se</button></a>
</body>
</html>