<!DOCTYPE html>
<html lang="pt-br">
<head>
    <link rel="stylesheet" href="/css/logout.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sair - Notificador</title>
</head>
<body>
    <div id ="grid-container">
        <div id="main_box">
            <h1>Tem certeza que deseja sair?</h1>
            <form method='POST'>
                <input type='submit' value='Sim' class="button"/>
            </form>
            <a href='/'><button class="button">Não</button></a>
        </div>    
    </div>
</body>
</html>