<!DOCTYPE html>
    <html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Crie o seu usuário</title>
    </head>
    <body>
        <h1>Criar usuario</h1>
        <p>Selecione na caixa de texto que tipo de conta você precisa criar</p>
        <form method="POST">
            <input type="radio" id="Professor" name="type-account" value="Professor">
            <label for="professor">Professor</label><br>
            <input type="radio" id="Aluno" name="type-account" value="Aluno">
            <label for="aluno">Aluno</label><br>
            <input type='submit' value='continuar' />
        </form>
    <a href='/login'><button>Entrar</button></a>
    </body>
</html>